:root {
    --header-main: #165BBA;
    --side-top: #051E34;
    --side-bottom: #142A40;
    --header-main-btn: #165BBA;
    --bell:#FF8F00;
    --class-name: #F26551;
    --class-done: #198754;
    --class-process:#FFC107;
    --class-failed:#DC3545;
}



body {
    height: 100vh
}

/*DEBUG*/

.box {
    border: 2px dashed green;
}

[ class*= "col-"] {
    border: 2px dashed red;
    height: 30px;
}

.row .col {
    border: 2px dashed red;
    height: 300px;
}


.box.tall {
    min-height: 200px;
}
/* HEADER */



/* CUSTOMIZED MAIN*/

.cs-main {
    height: (100%-56px);
}
    /* sidebar */

.side-nav {
    background-color: var(--side-bottom);
    color: white;

    width: 100px;
    height: 100vh;
}

/*MAIN CONTENT*/

.main-content {
    width: calc(100% - 100px);
}

    /* -header */
.main-header {
    background-color: var(--header-main-btn);
}

    /* - cards */

.main-cards {
    background-color:antiquewhite ;
}





/* FOOTER */



/* RESPONSIVE */

@media screen and (min-width: 576px) {
    
}


@media screen and (min-width: 768px) {

}


@media screen and (min-width:1200px) {

}