:root {
    --header-main: #165BBA;
    --side-bottom: #142A40;
    --header-main-btn: #165BBA;
    --bell:#FF8F00;
    --class-done: #198754;
    --class-process:#FFC107;
    --class-failed:#DC3545;
}



body {
    height: 100vh;
}

img {
    width: 100%;
}

/*DEBUG*/

.box {
    border: 2px dashed green;
}

[ class*= "col-"] {
    border: 2px dashed red;
    height: 30px;
}

.row .col {
    border: 2px dashed red;
    height: 300px;
}


.box.tall {
    min-height: 200px;
}
/* HEADER */



/* CUSTOMIZED MAIN*/

.cs-main {
    height: (100%-56px);
}
    /* sidebar */

.side-nav {
    background-color: var(--side-bottom);
    background-image: url(../img/sidebar-bg.png);
    color: white;

    width: 50px;
    height: 100vh;
}

/*MAIN CONTENT*/

.main-content {
    width: calc(100% - 50px);
}

    /* -header */
.main-header {
    background-color: var(--header-main);
}

    /* - cards */

.main-cards {
    background-color:antiquewhite ;
}





/* FOOTER */



/* RESPONSIVE */

@media screen and (min-width: 576px) {

}


@media screen and (min-width: 768px) {

}


@media screen and (min-width:992px) {
    .side-nav {
        width: 120px;
    }

    .main-content {
        width: calc(100% - 120px);
    }

    .box i {
        margin-right: 0.5rem;
    }

    .box .fa-chart-simple {
        padding-right: 0.4rem;

    }

    .box .fa-house {
        padding-right: 0.2rem;
    }

}